syntax: glob
*~
*.swp
*.bak
*.orig
*.rej
*.pid
*.log
.svn
.git
.env*
*.egg-info
.DS_Store

public/bower_components
.sass-cache
.idea
public/.sass-cache
*.project

log/
/logs/
/lib/
node_modules/
public/assets
public/node_modules
public/etc
public/stylesheet
reports
public/dist
hash/
public/uploads
.compass
env.json
assets
secrets.yml
.drone.sec.yml
json/*.json
